/* #32A9D9 */
*
{
    box-sizing: border-box;
}
main
{
    position: relative;
    width: 70vw;
    margin: 5rem auto;
    text-align: center;
    border: 1px solid black;
}

#mon-image
{
    width: 50%;
    object-fit: scale-down;
    transition-duration: 5s;
    transition-property: all;
}
/* #mon-image:hover
{
    transform: rotate(-90deg);
} */
/* #mon-image:hover
{
    width: 25%; 
    transform: scale(50%);
}   */
.encadrement
{
    border: 15px solid darkred;
}
i
{
    position: relative;
    margin: 1rem;
}

i:hover
{
    cursor: pointer;
}