$txt-1 : 16px;
$color-secondary : rgb(86, 86, 214);
$color-primary : rgb(random(255), random(255), random(255));

@for $i from 1 through 5
{
    .style-#{i}
    {
        font-size: #{i}em;
    }
}

.essau
{
    font-size: 12em;
}