*
{
    box-sizing: border-box;
}
.image-et-controles
{
    width: 70vw;
    margin: 7rem auto;
    text-align: center;
}
#mon-image
{
    width: 60%;
    object-fit: contain;
    margin: 8rem 0;
}
.image-et-controles i /* = les icônes qui sont dans la classe*/
{                      /* image-et-controles */
    font-size: 1.7rem;
    margin: 0.5rem;
}
.image-et-controles i:hover
{
    cursor: pointer;
}

.aller-gauche
{
    transform: translateX(-80px);
}